<button (click)="setVisible()">
  {{visible? 'Ocultar': 'Mostrar'}}
</button>

<h2> {{title}} </h2>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; index as i">
            <td>{{i+1}}.</td>
            <td>{{user}}</td>
        </tr>
    </tbody>
</table>
<h2>No esta disponible la pagina</h2>

<!-- <div *ngIf="visible; else notEnable">
    <h2> {{title}} </h2>
</div>
<div *ngIf="visible">
    <table *ngIf="(users != undefined && users.length > 0) else isEmpty">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i">
                <td>{{i+1}}.</td>
                <td>{{user}}</td>
            </tr>
        </tbody>
    </table>

    <ng-template #isEmpty>
        <div>
            No existe nada
        </div>
        <div>
            Valor de la bandera visible: {{visible}}
        </div>
    </ng-template>
</div>

<ng-template #notEnable>
    No esta disponible la pagina
</ng-template> -->